################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HtmlSpeedPack/v14
/HtmlSpeedPack/.vs/HtmlParser/v14
/HtmlSpeedPack/bin
/HtmlSpeedPack.Benchmark/bin
/HtmlSpeedPack.Benchmark/obj
/HtmlSpeedPack.Test/bin
/HtmlSpeedPack.Test/obj
/packages
/nuget
*.user
/HtmlSpeedPack/obj/Release
/HtmlSpeedPack/obj/Debug
