################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HtmlSpeedPack/v14
/HtmlSpeedPack/.vs/HtmlParser/v14
/HtmlSpeedPack/bin
/HtmlSpeedPack.Benchmark/bin
/HtmlSpeedPack.Benchmark/obj
/HtmlSpeedPack.Test/bin
/HtmlSpeedPack.Test/obj
/packages
/nuget
*.user
/HtmlSpeedPack/obj/Release
/HtmlSpeedPack/obj/Debug
/.vs/HtmlPerformanceKit/v14
/HtmlPerformanceKit/.vs/HtmlParser/v14
/HtmlPerformanceKit/bin
/HtmlPerformanceKit/obj
/HtmlPerformanceKit/HtmlPerformanceKit.csproj.DotSettings
/HtmlPerformanceKit.Benchmark/bin
/HtmlPerformanceKit.Benchmark/obj
/HtmlPerformanceKit.Test/bin
/HtmlPerformanceKit.Test/obj
/.vs/HtmlPerformanceKit/v15
*.log
/.vs/HtmlPerformanceKit
/.vs/ProjectEvaluation

bin
obj
